spring.mvc.view.prefix=/WEB-INF/views/
spring.mvc.view.suffix=.jsp

# DataSource (override with env vars DB_USER/DB_PASS or copy this file to application.properties and set values locally)
spring.datasource.url=jdbc:mysql://localhost:3306/polleria?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
spring.datasource.username=${DB_USER:root}
spring.datasource.password=${DB_PASS:}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA / Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect

# Application-level properties
# Admin password: override with APP_ADMIN_PASSWORD env var in development/production
app.admin.password=${APP_ADMIN_PASSWORD:admin123}
